@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --base-clr: #fef7f7;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #5a606b;
    --accent-clr: #7da2e6;
    --secondary-text-clr: #b0b3c1;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
}
#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    background-color: #fff;

    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}
#sidebar.close {
    padding: 5px;
    width: 60px;
    ul {
        margin-left: -45%;
    }
}
#sidebar ul {
    list-style: none;
}
#sidebar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo {
        font-weight: 600;
        margin-top: 5%;
    }
}
#sidebar ul li.active a {
    color: var(--accent-clr);

    svg {
        fill: var(--accent-clr);
    }
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
    width: 100%;
    border-radius: 0.5em;
    padding: 0.85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: -8%;
}
.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}
#sidebar svg {
    flex-shrink: 0;
    fill: var(--text-clr);
}
#sidebar a span,
#sidebar .dropdown-btn span {
    flex-grow: 1;
}
#sidebar a:hover,
#sidebar .dropdown-btn:hover {
    background-color: var(--hover-clr);
}
#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    > div {
        overflow: hidden;
    }
}
#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}
.dropdown-btn svg {
    transition: 200ms ease;
}
.rotate svg:last-child {
    rotate: 180deg;
}
#sidebar .sub-menu a {
    padding-left: 2em;
}
#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    background: none;
    cursor: pointer;

    svg {
        transition: rotate 150ms ease;
    }
}
#toggle-btn:hover {
    background-color: var(--hover-clr);
}

.doctor-card {
    background-color: #7da2e6;
    color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.carddoctor {
    margin-bottom: 3%;
}

.collapse-item {
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
}

.animal-icon {
    width: 25px;
}

.iconanimal {
    margin-left: -7px;
    margin-top: 10px;
}

.namedateanimal {
    margin-left: 5px;
}

.nameanimal {
    color: black;
    font-weight: 500;
}

.checkbox {
    margin-left: 10px;
    margin-top: 15px;
}

.buttoncreate {
    border: none;
    outline: none;
    height: 40px;
    width: 10%;
    background: #a09b9b;
    border-radius: 15px;
    transition: 0.4s;
}

.buttoncreate:hover {
    background: black;
    color: #fff;
}

.buttonsave {
    border: none;
    outline: none;
    height: 40px;
    width: 50%;
    background: #ececec;
    border-radius: 15px;
    transition: 0.4s;
}

.buttonsave:hover {
    background: #3085d6;
    color: #fff;
}

.icondelete {
    border-radius: 5px;
    width: 35px;
    height: 40px;
    border: none;
    transition: 0.4s;
    background: #ececec;

    .fa-trash {
        color: red;
    }
}

.icondelete:hover {
    background-color: #3085d6;
}